<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Motiva positivamente para iniciar su clase (Rutina diaria).</string>
	<string>Inicia su tema con preguntas indagatorias, elementos de la clase anterior para introducir el tema, lluvia de ideas, sparks, videos, etc.</string>
    <string>Hace uso de estrategias para captar la atención de los alumnos.</string>
    <string>Da instrucciones claras y efectivas para el desarrollo de la clase y/o actividad.</string>
    <string>Gestiona adecuadamente el tiempo de la clase.</string>
    <string>Los alumnos tienen una participación activa a lo largo de la clase.</string>
    <string>Hace uso de transiciones activas y efectivas.</string>
    <string>Los alumnos protagonizan el desarrollo de la clase.</string>
    <string>El cierre del día consiste en una post actividad (ambientación, rescate de conocimientos, compartir experiencias, reflexión, metacognición, etc.).</string>
    <string>El alumnado desarrolla de manera creativa las inteligencias múltiples durante la sesión.</string>
    <string>Genera un ambiente de seguridad y confianza en el aula.</string>
    <string>Promueve una relación positiva maestro-alumno y alumno-alumno.</string>
    <string>Cada alumno participa activamente en la responsabilidad de su rol.</string>
    <string>Promueve que los alumnos de los equipos establezcan acuerdos usando argumentos adecuados a su nivel.</string>
    <string>Respeta la estructura, orden y objetivo definido para las actividades colaborativas.</string>
    <string>Los alumnos se organizan adecuada y responsablemente en la distribución de actividades.</string>
    <string>Existe relación entre la planificación y el trabajo en el aula.</string>
    <string>Realiza los ajustes pertinentes durante la clase para lograr los objetivos trazados.</string>
    <string>De forma simultánea con la enseñanza de la asignatura, enseña principios de pensamiento crítico para analizar, entender o evaluar los problemas de la vida.</string>
    <string>Genera preguntas, para la indagación o búsqueda de nuevas ideas en todos los estudiantes.</string>
    <string>Practica actividades que fomenten la colaboración o trabajo colaborativo por parte de los alumnos.</string>
    <string>Utiliza los recursos ofrecidos por CS/WS (proyección de contenidos, posters, sparks, flares, audios, etc.).</string>
    <string>Utiliza las funcionalidades de CS (marcadores, zoom, hipervínculos, etc.).</string>
    <string>Utiliza las herramientas incluidas en CS (lápiz, texto, cámara, nota de voz, elector de alumnos, etc.).</string>
    <string>Es sistema Classroom Solution está correctamente instalado en el aula. Fomenta la participación del alumno mediante la manipulación del dispositivo y la aplicación.</string>
    <string>Cuando utiliza el iPad, se desplaza con el equipo por el aula. Permite que los alumnos utilicen el dispositivo.</string>
    <string>Los alumnos se sienten motivados interactuando con la tecnología.</string>
</array>
</plist>
